---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app seerr
  namespace: media
spec:
  interval: 15m
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  chartRef:
    kind: OCIRepository
    name: seerr

  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    controllers:
      seerr:
        containers:
          app:
            image:
              repository: ghcr.io/fallenbagel/jellyseerr
              tag: latest

            env:
              TZ: "America/Chicago"
              PORT: &port 5055
            resources:
              requests:
                memory: 1000Mi
                cpu: "1.5"
              limits:
                memory: 2000Mi
                cpu: "3"

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["{{ .Release.Name }}.kalde.in"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        existingClaim: seerr-config-v1
        globalMounts:
          - path: /app/config
