---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tautulli
  namespace: media
spec:
  interval: 30m
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  chartRef:
    kind: OCIRepository
    name: tautulli
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      tautulli:
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/tautulli/tautulli
              tag: v2.16.1@sha256:5f3603345e3334bd30aadf9e1fa9b0acb401b5225cc42e9b7a3dbf660532fbd9
            env:
              TZ: America/Chicago
              PUID: "1026"
              PGID: "100"
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 500Mi

    service:
      app:
        ports:
          http:
            port: &port 8181

    route:
      app:
        hostnames: ["{{ .Release.Name }}.kalde.in"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        enabled: true
        existingClaim: tautulli-config-v1
        globalMounts:
          - path: /config
