---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app filebrowser
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: filebrowser
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      filebrowser:
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: filebrowser/filebrowser
              tag: v2.31.2
            env:
              TZ: ${TZ}
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi

    service:
      app:
        controller: filebrowser
        ports:
          http:
            port: &port 80

    serviceMonitor:
      app:
        serviceName: app
        enabled: true
        endpoints:
          - port: http

    route:
      app:
        hostnames: ["{{ .Release.Name }}.kalde.in"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        type: nfs
        server: 192.168.10.3
        path: /volume1/cluster/filebrowser/config
        globalMounts:
          - path: /config
      data:
        type: nfs
        server: 192.168.10.3
        path: /volume1/downloads/torrents/complete/eXoDOS
        globalMounts:
          - path: /srv
