---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app collabora
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: collabora
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      collabora:
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: collabora/code
              tag: 25.04.9.1.1
            env:
              aliasgroup1: https://wopi.kalde.in:443
              DONT_GEN_SSL_CERT: "YES"
              extra_params: --o:ssl.enable=false --o:ssl.termination=true --o:welcome.enable=false --o:net.frame_ancestors=cloud.kalde.in
              username:
                valueFrom:
                  secretKeyRef:
                    name: collabora-secret
                    key: COLLABORA_ADMIN_USER
              password:
                valueFrom:
                  secretKeyRef:
                    name: collabora-secret
                    key: COLLABORA_ADMIN_PASSWORD
            securityContext:
              capabilities:
                add:
                  - SYS_ADMIN
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /hosting/discovery
                    port: &port 9980
                  initialDelaySeconds: 15
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /hosting/discovery
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 5
                  timeoutSeconds: 5
                  failureThreshold: 30
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["office.kalde.in"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
