---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: akaunting-v3-db-v2
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
