---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: binfmt
  namespace: actions-runner-system
spec:
  interval: 1h
  path: ./kubernetes/apps/actions-runner-system/binfmt
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: actions-runner-system
