---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: immich-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        DB_USERNAME: "{{ .POSTGRES_USER }}"
        DB_PASSWORD: "{{ .POSTGRES_PASS }}"
        DB_HOSTNAME: immich-rw.database.svc.cluster.local
        DB_PORT: "5432"
        DB_DATABASE_NAME: immich
        POSTGRES_ENABLED: "true"

        INIT_POSTGRES_DBNAME: immich
        INIT_POSTGRES_HOST: immich-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
        INIT_POSTGRES_SUPER_USER: "{{ .POSTGRES_SUPER_USER }}"
  dataFrom:
    - extract:
        key: immich
    - extract:
        key: cloudnative-pg
  refreshInterval: 5m
