---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: immich
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      immich:
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 2
        strategy: RollingUpdate
        initContainers:
          01-init-db:
            envFrom: &envFrom
              - secretRef:
                  name: immich-secret
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1
            env: &env-common
              TZ: ${TZ}
              IMMICH_SERVER_URL: http://immich-app.default.svc.cluster.local:2283
              IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.default.svc.cluster.local:3003
              PUBLIC_IMMICH_SERVER_URL: https://photos.kalde.in
              REDIS_HOSTNAME: "immich-valkey.default.svc.cluster.local"
              REDIS_PORT: "6379"
              REDIS_DBINDEX: "1"
              DB_VECTOR_EXTENSION: pgvector
              IMMICH_MEDIA_LOCATION: /usr/src/app/upload
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 5m
                memory: 2Gi
              limits:
                memory: 4Gi
      machine-learning:
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.1
            env:
              MPLCONFIGDIR: "/cache/matplotlib"
            envFrom: *envFrom
            resources:
              requests:
                cpu: 5m
                memory: 2Gi
              limits:
                memory: 2Gi
      valkey:
        containers:
          app:
            image:
              repository: docker.io/valkey/valkey
              tag: 9.0.1-trixie

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1024
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: "OnRootMismatch"

    service:
      app:
        type: LoadBalancer
        controller: immich
        ports:
          http:
            port: &port 2283
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003
      valkey:
        controller: valkey
        ports:
          http:
            port: 6379
    serviceMonitor:
      app:
        serviceName: app
        enabled: true
        endpoints:
          - port: http

    route:
      app:
        hostnames: ["photos.kalde.in"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      library:
        type: nfs
        server: 192.168.10.3
        path: /volume1/cluster/immich/library
        globalMounts:
          - path: /usr/src/app/upload
      photos:
        type: nfs
        server: 192.168.10.3
        path: /volume1/photos
        globalMounts:
          - path: /external/photos
      machine-learning-cache:
        existingClaim: immich-machine-learning-cache-v1
        advancedMounts:
          machine-learning:
            app:
              - path: /cache
      cache:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /.cache
      config:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /.config
      valkey:
        existingClaim: immich-valkey-v1
        advancedMounts:
          valkey:
            app:
              - path: /data
