---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app invoiceninja-db
  namespace: invoiceninja
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: invoiceninja-db
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      invoiceninja-db:
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        strategy: RollingUpdate
        pod:
          securityContext:
            runAsUser: 1024
            runAsGroup: 100
            fsGroup: 100
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: mariadb
              tag: "11"
            envFrom:
              - secretRef:
                  name: invoiceninja-db-secret
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 750Mi

    service:
      app:
        ports:
          mysql:
            port: &port 3306

    serviceMonitor:
      app:
        enabled: true
        endpoints:
          - port: mysql

    persistence:
      data:
        existingClaim: invoiceninja-db-v1
        globalMounts:
          - path: /var/lib/mysql
      restore:
        enabled: true
        type: nfs
        server: 192.168.10.3
        path: /volume1/cluster/db-restore
        globalMounts:
          - path: /restore
