---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: invoiceninja-db-v1
  namespace: invoiceninja
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
